@CHARSET "ISO-8859-1";

body {
	font-family: 'Roboto-Regular',sans-serif;
}

h1 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 20px;
	padding-top: 15px;
	height: 80px;
	width: 295px;
	white-space: nowrap;
	font-size: 30px;
	color: white;
	background-color: #0dbae6;
	margin-bottom: -10px;
}

.copyRight {
	padding-top: 15px;
	text-align: center;
}

#content {
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 25px;
	width: 400px;
	margin-bottom: -50px;
	background: linear-gradient(#0dbae6, #99d9e9) 
}