body {
	font-family: 'Roboto-Regular',sans-serif;
	background-color: #ffffff !important
}


.modal-view {
	display: none;
}

table.dataTable thead .sorting {
	margin-left: 50px;
	padding-left: 50px;
	background: url("../../img/headerSort.png") no-repeat scroll right
		center rgba(0, 0, 0, 0);
	background-position: 95%;
}

#receipt_view {
	width: 400px;
	height: 400px;
}

.th_left {
	background-color: #FF0000;
	border-top-left-radius: 5px;
	border-right: 0px;
	width: 50px;
}

.th_right {
	background-color: #FF0000;
	border-top-right-radius: 5px;
	width: 5px;
}

.th_right2 {
	background-color: #FF0000;
	border-top-right-radius: 5px;
	width: 10px;
}

.th_left2 {
	background-color: #FF0000;
	border-left: 0px;
	border-right: 1px solid black;
	width: 2px;
}

.badge {
	color: #ffffff;
	background-color: #0084aa;
	border-radius: 9px;
	font-size: 11px;
	margin-left: 9px;
}

.badge2 {
	color: white;
	border-radius: 9px;
	font-size: 11px;
	padding: 3px;
}

/*Zab */
.top {
	display: none;
}

.search input[type=text] {
	 background: url("../../img/magnifying.png") no-repeat scroll 95% center #cbe0ea;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    float: right;
    height: 42px;
    margin-top: -6px;
    padding: 3px 23px 3px 8px;
    width: 18%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{

	cursor: default;
	background-color: #019dc8;
	border: 2px solid #019dc8;
	border-bottom-color: transparent;
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	border-left: 10px solid #019dc8;
	height: 31px !important;
	width: 170px;
	white-space: nowrap;
	text-align: center;
	color: white !important;
	font-weight: lighter;
}

.nav-tabs {
	font-family: 'Roboto-Regular',sans-serif;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	border: none;
}

.nav-tabs li a.selected {
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;

}

.nav-tabs  li  a {
	padding-top: 6px;
	text-decoration: none;
	font-weight: bold;
	color: #2c8faf !important;
}

.nav-tabs li a:hover {
	background-color: #ffffff;
}

#tblUploadedReceipts {
	border-top-radius: .6em;
	border-top-right-radius: .6em;
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	border-top: 24px solid #019dc8;
	border-right: 2px solid #019dc8;
	border-bottom: 5px solid #019dc8;
	border-left: 2px solid #019dc8;
	background-color: #019dc8;
	border-bottom-right-radius: 1em;
}

#tblRejectedReceipts {
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	border-top: 24px solid #019dc8;
	border-right: 2px solid #019dc8;
	border-bottom: 5px solid #019dc8;
	border-left: 2px solid #019dc8;
	background-color: #019dc8;
	border-bottom-right-radius: 1em;
}

#tblbillerCate {
	border-top-left-radius: .6em;
	border-top-right-radius: .6em;
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
	border-top: 24px solid #019dc8;
	border-right: 2px solid #019dc8;
	border-bottom: 5px solid #019dc8;
	border-left: 2px solid #019dc8;
	background-color: #019dc8;
	border-bottom-right-radius: 1em;
}

#tblRejectedReceipts {
	background-color: #019dc8 !important;
}

#tblRejectedReceipts tr td, #tblUploadedReceipts tr td {
	font-family: 'Roboto-Regular',sans-serif;
	border: none;
}


tr:nth-child(even) {
	background-color: #f7fbfc !important;
}


th {
	background-color: #d9dedf !important;
	border: none !important;
}

.footer .copyRight {
	padding-top: 10px;
	text-align: center;
}

.prevBtn {
	width: 12px;
	height: 11px;
	display: inline-block;
	background: url("../../img/previous.png") no-repeat center center
		rgba(0, 0, 0, 0);
}

.nextBtn {
	width: 12px;
	height: 11px;
	display: inline-block;
	background: url("../../img/next.png") no-repeat center center
		rgba(0, 0, 0, 0);
}

.paginate_button {
	border-radius: 0.7em;
}

th {
	font-family: 'Roboto-Regular',sans-serif;
}

.bottom {
	font-family: 'Roboto-Regular',sans-serif;
}

/* chrome specifics */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.search input[type=text] {
		outline: none !important;
	}
}

/* iE10 specifics */
@media screen\0 {
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
		{
		height: 53px !important;
	}
	.nav-tabs li a {
		width: 152px;
	}
	input[type=text]::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	input[type=text]::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
}

#tblUploadedReceipts th:nth-child(1) {
	width: 164px !important;
}

#tblUploadedReceipts th:nth-child(3) {
	width: 376px !important;
}

#tblUploadedReceipts th:nth-child(4) {
	width: 413px !important;
}

#tblUploadedReceipts th:last-child {
	text-align: center;
	width: 150px !important;
}

#tblUploadedReceipts td:last-child {
	text-align: center;
}

#tabBillerView {
	margin-top: 16px !important;
}

#tblUploadedReceipts_info, #tblRejectedReceipts_info {
	font-size: 11px;
	font-weight: bolder;
	padding-top: 13px;
}

#tblUploadedReceipts_paginate, #tblRejectedReceipts_paginate {
	padding-top: 16px !important;
}

#tblUploadedReceipts thead th, #tblRejectedReceipts thead th {
	background-color: #e0eaec !important;
}

td {
	color: #666666 !important;
}

th {
	color: #262525 !important;
}

#tabBillerView {
	border: none !important;
}

tr:hover {
	background-color: #d1ecf1 !important;
}


