body {
	font-family: 'Roboto-Regular',sans-serif;
}

.viewer {
	width: 520px;
	height: 450px;
	border: 1px solid black;
	position: relative;
}

.wrapper {
	overflow: hidden;
}



.modal-view {
	display: none;
	overflow: hidden;
}

.inline3 {
	opacity: .3;
}

#preloader {
	display: none;
}

.inline2 {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

.div-body {
	border-radius: 5px;
	padding-top: 1px;
	background-color: #ffffff;
	padding-left: 30px;
	padding-bottom: 10px;
}

.Reason_textbox {
	padding-bottom: 10px;
}

.iviewer_zoom_in {
	background: url("../../img/zoomIn.png") no-repeat center center
		rgba(0, 0, 0, 0) !important;
	border: none !important;
	height: 35px !important;
	width: 30px !important;
	margin-left: 95px !important;
	transition: all .25s ease-in;
}

.iviewer_zoom_in:hover {
	border-radius: 5px;
	border: 2px solid #535353 !important;
	width: 45px !important;
	height: 45px !important;
}

.iviewer_zoom_out {
	background: url("../../img/zoomOut.png") no-repeat center center
		rgba(0, 0, 0, 0) !important;
	border: none !important;
	height: 35px !important;
	width: 30px !important;
	margin-left: 160px !important;
	transition: all .25s ease-in;
}

.iviewer_zoom_out:hover {
	border-radius: 5px;
	border: 2px solid #535353 !important;
	width: 45px !important;
	height: 45px !important
}


.iviewer_zoom_fit {
	background: url("../../img/zoomFit.png") no-repeat center center
		rgba(0, 0, 0, 0) !important;
	border: none !important;
	height: 35px !important;
	width: 30px !important;
	margin-left: 180px !important;
	transition: all .25s ease-in;
}

.iviewer_zoom_fit:hover {
	border-radius: 5px;
	border: 2px solid #535353 !important;
	width: 45px !important;
	height: 45px !important
}

.iviewer_rotate_left {
	background: url("../../img/rotateLeft.png") no-repeat center center
		rgba(0, 0, 0, 0) !important;
	border: none !important;
	height: 35px !important;
	width: 30px !important;
	margin-left: 175px !important;
	transition: all .25s ease-in;
}

.iviewer_rotate_left:hover {
	border-radius: 5px;
	border: 2px solid #535353 !important;
	width: 45px !important;
	height: 45px !important
}

.iviewer_rotate_right {
	background: url("../../img/rotateRight.png") no-repeat center center
		rgba(0, 0, 0, 0) !important;
	border: none !important;
	height: 35px !important;
	width: 30px !important;
	margin-left: 230px !important;
	transition: all .25s ease-in;
}

.iviewer_rotate_right:hover {
	border-radius: 5px;
	border: 2px solid #535353 !important;
	width: 45px !important;
	height: 45px !important
}


.iviewer_zoom_status, .iviewer_zoom_zero {
	display: none;
}

body {
	background-color: white !important;
}

#billHeader {
    background-color: #015142 !important;
    color: white;
    font-size: 18px;
    height: 34px !important;
    margin-bottom: -10px !important;
    padding-top: 4px !important;
    text-align: center;
    white-space: nowrap;
    width: 12% !important;
}

#formDiv {
    border: 1px solid #cbcbcb;
    margin-top: 10px;
    width:1200px;
    height:440px;
    padding: 10px;
    background: #fff;
}

.col-md-offset-9 {
	margin-left: 73%;
}

#btnCancel, #btnSave, #btnReject {
    width:185px;
}

.copyRight {
	padding-top: 10px;
	text-align: center;
}

#viewer2 {
    width: 695px;
    height: /*656px*/ 525px;
    /*border-top-left-radius: 5px;*/
    border-top-right-radius: 5px;
    position: relative;
    top: -3px;
    left: -2px;
    border: 1px solid grey;

}

#viewerBg {
	position: absolute;
	opacity: 0.12;
	height: 60px !important;
	width: 100% !important;
	bottom: 1px;
	background-color: gray ;
}
.viewer2-margin{
    margin-left: -2%;
    float:right;
}


#btnSave{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 3px solid #005444;
    border-radius: 5px !important;
    color: #005444;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 184px;
    margin-top: 0px;
    font-family: 'Roboto-Regular',sans-serif !important;
    text-shadow: none;
}
#btnReject{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 3px solid #873a35;
    border-radius: 5px !important;
    color: #873a35;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 184px;
    margin-top: 0px;
    font-family: 'Roboto-Regular',sans-serif !important;
    text-shadow: none;
}
#btnCancel{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 3px solid #333333;
    border-radius: 5px !important;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 184px;
    margin-top: 0px;
    font-family: 'Roboto-Regular',sans-serif !important;
    text-shadow: none;
}

.input-design[type=text]{
    /*width:270px;*/
    background: #fff;
    height: 30px;
}
.table-billentry input, .table-billentry select{
    margin: 0 auto ;
    width: 320px;
}
.required:after {
    color: #ff0000;
    content: "*";
    float: right;
    font-weight: bold;
    margin-top: -33px;
    width: 13%;
}

.select-design{
    width:270px;
}

.low-container{
   background: #dfe6eb ;
    height:100px;
    width:1200px;
}
.ul-lowcontainer{
    list-style-type: none;
    width:665px;
    height:50px;
    float: right;
    margin-top: 20px;
}
.ul-lowcontainer li{
    display: inline;
    text-align: right;

}
.table-billentry td{
    height:50px;
    margin-bottom: 20px !important;
    padding-top: 0 !important;
    margin-top:0 !important;

}
.table-billentry td:last-child{
    background: #fff !important;
}
.table-billentry td{
    background: #fff !important;
}
.table-billentry{
    border-collapse: collapse;

}
.error{
    position: relative;
    margin-bottom: 0 !important;
    height: 20px;
    margin-left: 85px;
    color: red;
}

.billentryContainer{
    position: relative;
    margin-bottom: 0 !important;
    top:50px;
}
@media screen and (max-width: 1480px){
    #formDiv{
        width: 100% ;
    }
    .table-billentry{
        width: 458px !important;
    }
    .low-container{
        width: 100%;
    }
    #viewer2{
        width: 580px;
        height: 402px;
    }
    .error{
        margin-left: 70px;
    }
}

#dpDueDate, #payDate{
    cursor: pointer !important;
}

